Q-1. Write an SQL query to print details of the Workers who have joined in Febâ€™2014.

In [ ]:
SELECT * 
FROM Worker 
WHERE YEAR(JOINING_DATE) = 2014 AND MONTH(JOINING_DATE) = 02;

Q-2. Write an SQL query to fetch duplicate records having matching data in some fields of a table.

In [ ]:
SELECT column_name, COUNT(column_name) 
FROM Worker 
GROUP BY FEILD HAVING COUNT(column_name) > 1;

Q-3. How to remove duplicate rows from Employees table.

In [ ]:
delete x
from ( select *, rn=row_number() 
                over (partition by EmployeeName order by empId) 
                from Employee ) x 
where rn > 1;